*.gem
*.rbc
/.config
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/log/

## Ignore generated Golang files
## Except the testing ones
/go_app/
!/go_app/src/models/models_test.go
docker-compose.yml

## Specific to RubyMotion:
.dat*
.repl_history
build/

## Environment normalisation:
/.bundle/
/vendor/bundle
/lib/bundler/man/

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# Ignore the db schema
db/schema.rb
db/test.sqlite3
